body {
	font-size: 12pt;
}

div.page {
    text-align: center;
}

div.page h1 {
}

div.page p {
}

div.info {
    text-align: center;
    color: gray;
}

div.error {
    text-align: center;
    color: red;
}

form {
    text-align:center;
    display:inline-block;
}

button {
    text-align:center;
}
